<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.mapper.rbac.MemberMapper">
    <resultMap id="BaseResultMap" type="com.neo.entity.Member" >
        <id column="id" property="id" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="gender" property="gender" />
        <result column="hiredate" property="hiredate" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, password,user_name,avatar,status,email,gender,hiredate,real_name,telephone
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_member
    </select>
    <insert id="save" parameterType="com.neo.entity.Member">
      INSERT INTO sys_member
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="password != null" >
                password,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="gender != null" >
                gender,
            </if>
            <if test="hiredate != null" >
                hiredate,
            </if>
            <if test="realName != null" >
                real_name,
            </if>
            <if test="telephone != null" >
                telephone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="password != null" >
                #{password},
            </if>
            <if test="userName != null" >
                #{userName},
            </if>
            <if test="avatar != null" >
                #{avatar},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            <if test="email != null" >
                #{email},
            </if>
            <if test="gender != null" >
                #{gender},
            </if>
            <if test="hiredate != null" >
                #{hiredate},
            </if>
            <if test="realName != null" >
                #{realName},
            </if>
            <if test="telephone != null" >
                #{telephone},
            </if>
        </trim>
    </insert>
    <select id="findByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_member WHERE user_name=#{userName}
    </select>
    
    <select id="getMemberList" parameterType="com.neo.entity.Member" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_member WHERE 1=1
        <if test="userName !=null and userName !=''">
            AND user_name LIKE '%${userName}%'
        </if>
        <if test="pageNo !=null">
           limit #{pageNo},#{pageSize}
        </if>
    </select>
</mapper>